organization: 'PrestaShop'
repositories:
  - 'PrestaShop'
  - 'prestonbot'
  - 'StarterTheme'
  - 'prestashop.github.io'
  - 'docker-ci'
  - 'docker'
  - 'TranslationToolsBundle'
  - 'PSFunctionalTests'
